body {
    background-color: #FFCCCC;
    
}



.closebtn {
    padding-left: 10px;
    color: #888;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  

h1 { text-align: center;}

.head {
    font-family:Lobster;
    border-radius: 10px;
}
.mar {
    margin-left: 10px;
}
div { 
    border-radius: 10px;
    background:linear-gradient(35deg,#CCFFFF,#FFCCCC);
}


button { 
      border-radius:20px;
      background-color:orange;
      color:green;
}

ul {
    margin: 0;
    padding: 10px 10px 10px 100px;
    display: flex;
    background: black;
}

ul li {
    list-style: none;
    padding: 10px 20px;

}

ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color:silver;
    position: relative;

}

ul li a::before {
    content: "";
    width: 0px;
    height: 10px;
    background:gold;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

ul li a:hover::before {
    width: 50%;
    transform: translateX(100%);
}

  
  .text {
    color:gold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

  div ol {
    list-style-position: inside;
    background-color:linear-gradient(35deg,#CCFFFF,#FFCCCC);
    position: relative;
    animation: mymove 5s infinite;
  }
  
div button{
     list-style-position: inside;
     background-color:linear-gradient(35deg,#CCFFFF,#FFCCCC);
     position: relative;
     animation: mybutton 5s infinite;
   
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 500px;}
}

@keyframes mybutton {
  from {left: 0px;}
  to {left: 630px;}
  
}