h2 {
    background-color:tomato;
}

h1 { text-align: center;}

.head {
    font-family:Lobster;
    background-color: rgba(204, 6, 253, 0.863);
    border-radius: 10px;
}
.mar {
    margin-left: 10px;
}
div { 
    border-radius: 10px;
    background:linear-gradient(35deg,#CCFFFF,#FFCCCC);
}


button { 
      text-align: center;
      border-radius:20px;
      background-color:orange;
      color:green;
}
body{
    text-align: center;
    background:linear-gradient(35deg,#CCFFFF,#FFCCCC);
}


ul {
    margin: 0;
    padding: 10px 10px 10px 100px;
    display: flex;
    background: black;
}

ul li {
    list-style: none;
    padding: 10px 20px;

}

ul li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color:silver;
    position: relative;

}

ul li a::before {
    content: "";
    width: 0px;
    height: 10px;
    background:gold;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}

ul li a:hover::before {
    width: 50%;
    transform: translateX(100%);
}

.container {
    padding-left:25%;
    position:relative;
    width: 50%;
  }
  
  .image {
   
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0%;
    background-color: rgb(143, 9, 9);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .7s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
    left: 15%;
  }
  
  .text {
    color:gold;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }

